.container{
    margin-bottom:100px ;
}
.orange-bg{
    background-color:#fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color:#FF136F
}
.buy-now-button{
    border-radius: 8px;
    background-image:linear-gradient(to bottom, #ff589b 0%, #FF136F 100% );
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
   
   padding: 10px 30px;
   border-radius: 15px;
}
.cat1{
    background-image:linear-gradient( #f7a503 , #e0ab41fa );
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color:blue;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;

}
.card-footer{
    border-top: none;
    background-color: white;
}
#contactus{
    height: 300px;
    color: gray;
}
footer{
    text-align: center;
}